.hidden {
  opacity: 0;
}

.card {
  z-index: 2;
  width: 18.75rem;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

@media (max-height: 665px)
{
  .card {
    top: 50%;
    max-width: 11.750rem;
  }
}

.music-widget {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

.art {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.song-info {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  align-self: end;
  background-color: rgba(100%, 100%, 100%, 60%);
  backdrop-filter: blur(var(--margin-small));
}

.text {
  margin: 0.8rem;
}

ul {
  list-style: none;
}

.artist-name {
  margin: 0.4rem;
}

.song-title {
  animation: marquee 10s linear infinite;
  margin: 0.4rem;
}
/* @keyframes marquee {
  from {
    transform: translateX(100%)
  }
  to {
    transform: translateX(-150%)
  }
} */

@media (max-height: 680px)
{
  .text {
    font-size: 0.750rem;
  }
}

.toolbar {
  padding: 0;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0.5rem;
  background-color: var(--color-light);
}

.button-previous-next {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding: 0;
  border: none;
  cursor: pointer;
}

.button-play {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding: 0;
  border: none;
  background-color: var(--color-player);
  cursor: pointer;
}

i {
  font-size: 1.2rem;
}

.uil-play {
  margin-left: 0.25rem;
}

.broadcast-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  opacity: 0.8;
  top: 18%;
  left: 49.5%;
  transform: translate(-50%, -50%);
}

@media (max-width: 665px)
{
  .broadcast-button {
    left: 47%;
  }
}

@media (max-height: 665px)
{
  .broadcast-button {
    left: 20%;
  }
}


.broadcast-button:hover {
  opacity: 1;
}
