.details-player {
  display: flex;
  align-items: center;
  min-width: 15.375rem;
}

.progress-container {
  background: #bbbbbb;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 150px;
}

@media (max-width: 600px)
{
  .details-player {
    min-width: 11.625rem;
  }
  .progress-container
   {
    width: 90px;
   }
}

.progress {
  background-color: #ff679f;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}
