.details-player {
  display: flex;
  align-items: center;
  min-width: 15.375rem;
  margin-right: 0.5rem;
}

.progress-container {
  background: var(--color-primary);
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 150px;
  margin-left: 0.5rem;
}

@media (max-width: 680px)
{
  .details-player {
    min-width: 12.750rem;
  }
  .progress-container
   {
    width: 90px;
   }
}

.progress {
  background-color: var(--color-player);
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.m-right {
  margin-right: 0.125rem;
}
