.albums-grid {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-areas:
    "bio player";
}

.album-player {
  display: flex;
  align-items: center;
}

@media (max-width: 1100px) {
  .albums-grid {
    grid-template-columns: 100vw;
    grid-template-areas:
    "bio"
    "player";
  }
}

.album-bio {
  padding: 1rem;
  grid-area: bio;
}

.tracks-card {
  padding: 1rem;
  grid-area: player;
}

.text-elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album-title {
  text-decoration: none;
  color: #333333;
}

.album-title:visited {
  color: #333333;
}

.cover-art {
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.genre {
  font-size: 14px;
}


/* ALBUMS.JSX */


.albums-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-albums {
  width: 250px;
  height: 250px;
  padding: 1rem;
  background: #bbbbbb;
  color: white;
  border-radius: 0.5rem;
  position: relative;
  margin: 1rem;
}

.hole {
  z-index: 3;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
