.album-player {
  display: flex;
  align-items: center;
  margin-left: 45vw;
}

@media (max-width: 800px) {
  .album-player {
    margin-left: 25vw;
  }
}

@media (max-width: 570px) {
  .album-player {
    margin-left: 2vw;
  }
}

.text-elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album-title {
  text-decoration: none;
  color: #333333;
}

.album-title:visited {
  color: #333333;
}

.cover-art {
  height: 300px;
}

.tracks-box {
  background-color: #bbbbbb;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 3px;
}

.albums-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
