.albums-grid {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-areas:
    "bio player";
}

.album-player {
  display: flex;
  align-items: center;
}

@media (max-width: 1100px) {
  .albums-grid {
    grid-template-columns: 100vw;
    grid-template-areas:
    "bio"
    "player";
  }
}

.album-bio {
  padding: 1rem;
  grid-area: bio;
}

.tracks-card {
  padding: 1rem;
  grid-area: player;
}

.text-elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album-title {
  text-decoration: none;
  color: var(--color-accent);
}

.album-title:visited {
  color: var(--color-accent);
}

.cover-art {
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.genre {
  font-size: 14px;
}


/* ALBUMS.JSX */


.albums-show {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* @media (max-width: 440px) {
  .albums-show {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 0.125rem;
  }
} */

.card-albums {
  grid-area: album;
  width: 250px;
  height: 250px;
  padding: 1rem;
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: 0.5rem;
  position: relative;
  margin: 0.45rem;
}

.hole {
  z-index: 3;
  background-color: var(--color-white);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cover-label {
  z-index: -2;
  width: 245px;
  position: absolute;
  top: 50%;
  left: 85%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.albums-outer-container {
  background-image: url('https://res.cloudinary.com/doa9kh79y/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1673878259/disco%20interno/graphics-diagrams/svg/Asset_32_-_Fox_Rockett_Studio_msbph2.svg');
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.albums-container {
  height: 70vh;
  width: 60vw;
  background-color: white;
  margin: 0 auto;
  overflow-y: scroll;
  padding: var(--margin-lgsmall);
}

@media only screen and (max-width: 1200px) {
  .albums-container {
    width: 90vw;
  }
}

.albums-h2 {
  text-align: left;
  background-color: var(--color-white);
  margin-top: 0;
}
