@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

:root {
  --color-primary: #bbbbbb;
  --color-accent: #333333;
  --color-player: #ff679f;
  --color-white: #f7f7f7;
  --color-body: #1d1d1d;
}

body {
  color: var(--color-body);
}

.App {
  text-align: center;
  font-family: 'Sora', sans-serif;
}
