@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

:root {
  --color-primary: #bbbbbb;
  --color-accent: #333333;
  --color-player: #ff679f;
  --color-light: #f0f0f0;
  --color-white: #ffffff;
  --color-body: #1d1d1d;

  --margin-xsmall: 0.125rem;
  --margin-small: 0.25rem;
  --margin-lgsmall: 0.5rem;

  --margin-mediumxs: 0.8rem;
  --margin-medium: 1rem;
  --margin-mediumlg: 1.2rem;
}

body {
  color: var(--color-body);
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
  font-family: 'Sora', sans-serif;
}
