.artists-grid {
  display: grid;
  grid-template-columns: 500px 167px 800px;
  grid-template-rows: repeat(1.5, 1fr);
  grid-template-areas:
    "pic pic hidden1"
    "hidden2 hidden2 bio";
}

@media only screen and (max-width: 1200px) {
  .artists-grid {
    justify-items: center;
    align-items: center;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "pic"
    "bio";
  }

  .artist-bio {
    padding: 0.5rem;
  }
}

.artist-main {
  display: flex;
}

.artist-name {
  text-decoration: none;
  color: #333333;
}

.artist-name:visited {
  color: #333333;
}

.artist-pic {
  width: 667px;
  grid-area: pic;
}

.hiddenY {
  opacity: 0;
  grid-area: hidden1;
}

.invisible-box-left {
  /* width: 600px; */
  grid-area: hidden2;
}

.artist-bio {
  grid-area: bio;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.link-icons {
  display: flex;
}

.artists-icons{
  margin-right: 0.5rem;
}
