/* ARTISTSDETAIL.JSX */

.artists-grid {
  display: grid;
  grid-template-columns: 500px 167px 800px;
  grid-template-rows: repeat(1.5, 1fr);
  grid-template-areas:
    "pic pic hidden1"
    "hidden2 hidden2 bio";
}

@media only screen and (max-width: 1200px) {
  .artists-grid {
    justify-items: center;
    align-items: center;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "pic"
    "bio";
  }

  .artist-bio {
    padding: 0.5rem;
  }
}

.artist-main {
  display: flex;
}

.artist-name {
  text-decoration: none;
  color: var(--color-accent);
}

.artist-name:visited {
  color: var(--color-accent);
}

.artist-pic {
  width: 667px;
  grid-area: pic;
}

@media (max-height: 680px)
{
  .artist-pic {
    max-width: 440px;
  }
}

.hiddenY {
  opacity: 0;
  grid-area: hidden1;
}

.invisible-box-left {
  /* width: 600px; */
  grid-area: hidden2;
}

.artist-bio {
  grid-area: bio;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.link-icons {
  display: flex;
}

.artists-icons{
  margin-right: 0.5rem;
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--margin-medium);
}


/* ARTISTS.JSX */


.artists-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-artists {
  border-radius: 0.5rem;
}

.circle {
  z-index: 3;
  background-color: var(--color-white);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0;
  position: absolute;
  top: 12%;
  left: 85%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.artist-cover {
  max-width: 500px;
  border-radius: 0.5rem;
}

.artist-outer-container {
  background-image: url(https://res.cloudinary.com/doa9kh79y/image/upload/v1673878273/disco%20interno/graphics-diagrams/svg/Asset_11_-_Fox_Rockett_Studio_jmi9ix.svg);
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artists-container {
  height: 70vh;
  width: 60vw;
  background-color: var(--color-white);
  margin: 0 auto;
  overflow-y: scroll;
  padding: var(--margin-lgsmall);
}

@media only screen and (max-width: 1200px) {
  .artists-container {
    width: 90vw;
  }
}

.artists-h2 {
  text-align: left;
  margin-top: 0;
}
