.back-button {
  width: 40px;
  height: 40px;
  border: none;
  border: 1px solid var(--color-light);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 50%;
  background-color: transparent;
  backdrop-filter: blur(10px);
  position: absolute;
  z-index: 1;
  top: 4%;
  left: 6%;
  transform: translate(-50%, -50%);
}

.back-button:hover {
  opacity: 1;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 760px) {
  .back-button {
    left: 3%;
  }
}
