.logo {
  width: 85px;
}

nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menus {
  color: var(--color-accent);
  text-decoration: none;
}

@media (max-height: 680px)
{
  .logo {
    width: 50px;
  }
  .nav-menus {
    font-size: 14px;
  }
}

.nav-logo {
  margin-left: 0.8rem;
}

.nav-artists {
  margin-right: 0.8rem;
}

.dropdown-selector {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu-items {
  display: block;
  color: var(--color-accent);
  text-decoration: none;
  padding: 12px 16px;
}

.dropdown-menu-items:hover {
  background-color: #f1f1f1;
}
