.logo {
  width: 60px;
}

nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menus {
  color: #333333;
  text-decoration: none;
}

@media (max-height: 680px)
{
  .logo {
    width: 50px;
  }
  .nav-menus {
    font-size: 14px;
  }
}

.nav-logo {
  margin-left: 0.5rem;
}

.nav-album {
  margin-right: 0.5rem;
}
